# DataFrame & Column
##### Objetivos
1. Construir columnas
1. Seleccionar columnas
1. Agregar o reemplazar columnas
1. Seleccionar filas
1. Ordenar filas

##### Métodos
- <a href="https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/dataframe.html" target="_blank">DataFrame</a>: **`select`**, **`selectExpr`**, **`drop`**, **`withColumn`**, **`withColumnRenamed`**, **`filter`**, **`distinct`**, **`limit`**, **`sort`**
- <a href="https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/column.html" target="_blank">Column</a>: **`alias`**, **`isin`**, **`cast`**, **`isNotNull`**, **`desc`**, operators

In [ ]:
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=8488b0017c610cee9f56c09e213b51b393873a4320d585c3a93790a39bc64555
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext

spark = SparkSession.builder.master('local[*]').appName('dfcolumns').getOrCreate()
sc = SparkContext.getOrCreate()

In [ ]:
df = spark.read.csv('/content/sample_data/california_housing_test.csv', header=True)
df.createOrReplaceTempView('cht')

## Expresiones de Columna

Una <a href="https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/column.html" target="_blank">Columna</a> es una construcción lógica que se calculará en función de los datos en un DataFrame mediante una expresión.

Construye una nueva Columna basada en columnas existentes en un DataFrame

In [ ]:
from pyspark.sql.functions import col

print(df.median_house_value)
print(df['median_house_value'])
print(col('median_house_value'))

Column<'median_house_value'>
Column<'median_house_value'>
Column<'median_house_value'>

### Operadores y métodos de columna
| Method | Description |
| --- | --- |
| \*, + , <, >= | Math and comparison operators |
| ==, != | Equality and inequality tests (Scala operators are **`===`** and **`=!=`**) |
| alias | Gives the column an alias |
| cast, astype | Casts the column to a different data type |
| isNull, isNotNull, isNan | Is null, is not null, is NaN |
| asc, desc | Returns a sort expression based on ascending/descending order of the column |

In [ ]:
col("median_house_value") + col("median_income")
col("total_bedrooms").desc()
(col("housing_median_age") * 100).cast("int")

Column<'CAST((housing_median_age * 100) AS INT)'>

In [ ]:
rev_df = (df
         .filter(col('total_rooms').isNotNull())
         .withColumn("income", (col("median_income") * 100).cast("int"))
         .sort(col("housing_median_age").desc())
        )

In [ ]:
rev_df.show()

+-----------+---------+------------------+------------+--------------+-----------+-----------+-------------+------------------+------+
|  longitude| latitude|housing_median_age| total_rooms|total_bedrooms| population| households|median_income|median_house_value|income|
+-----------+---------+------------------+------------+--------------+-----------+-----------+-------------+------------------+------+
|-118.630000|34.240000|          9.000000| 4759.000000|    924.000000|1884.000000| 915.000000|     4.833300|     277200.000000|   483|
|-116.240000|33.760000|          9.000000| 1961.000000|    595.000000| 966.000000| 275.000000|     3.812500|      96700.000000|   381|
|-122.510000|38.760000|          9.000000| 2589.000000|    482.000000|1050.000000| 374.000000|     4.043500|     132600.000000|   404|
|-117.190000|32.770000|          9.000000|  634.000000|    152.000000| 248.000000| 133.000000|     3.857100|     143800.000000|   385|
|-121.930000|38.010000|          9.000000| 2294.000000|    389.000000|1142.000000| 365.000000|     5.336300|     160800.000000|   533|
|-117.680000|35.610000|          9.000000| 4241.000000|    832.000000|1929.000000| 742.000000|     3.598800|      84500.000000|   359|
|-117.960000|34.140000|          9.000000|  907.000000|    207.000000| 619.000000| 194.000000|     3.946400|     179600.000000|   394|
|-121.870000|37.390000|          9.000000| 2522.000000|    547.000000|1591.000000| 481.000000|     4.909100|     259700.000000|   490|
|-117.230000|33.910000|          9.000000|11654.000000|   2100.000000|7596.000000|2127.000000|     4.047300|     127200.000000|   404|
|-121.300000|37.950000|          9.000000|  674.000000|    242.000000| 575.000000| 193.000000|     2.202400|      45000.000000|   220|
|-120.980000|38.660000|          9.000000| 2073.000000|    404.000000| 916.000000| 373.000000|     3.225000|     163300.000000|   322|
|-117.970000|33.880000|          9.000000| 1344.000000|    279.000000| 530.000000| 265.000000|     5.073100|     185100.000000|   507|
|-117.820000|33.710000|          9.000000| 5206.000000|    992.000000|4660.000000| 978.000000|     2.885000|     162500.000000|   288|
|-120.790000|37.080000|          9.000000|   97.000000|     20.000000|  91.000000|  22.000000|     2.906300|      55000.000000|   290|
|-117.770000|33.720000|          9.000000| 2153.000000|    316.000000| 954.000000| 324.000000|     7.813900|     304700.000000|   781|
|-117.340000|34.490000|          9.000000| 3293.000000|    585.000000|1678.000000| 530.000000|     3.294100|      98300.000000|   329|
|-119.560000|36.510000|          9.000000| 3860.000000|    809.000000|2157.000000| 770.000000|     2.503300|      70100.000000|   250|
|-117.260000|33.260000|          9.000000| 4609.000000|    798.000000|2582.000000| 746.000000|     4.342900|     173900.000000|   434|
|-122.200000|39.930000|          9.000000| 1296.000000|    287.000000| 768.000000| 260.000000|     1.919100|      54400.000000|   191|
|-122.740000|38.460000|          9.000000| 2268.000000|    594.000000|1311.000000| 585.000000|     2.660700|      91500.000000|   266|
+-----------+---------+------------------+------------+--------------+-----------+-----------+-------------+------------------+------+
only showing top 20 rows

## Métodos de transformación de DataFrames
| Method | Description |
| --- | --- |
| **`select`** | Returns a new DataFrame by computing given expression for each element |
| **`drop`** | Returns a new DataFrame with a column dropped |
| **`withColumnRenamed`** | Returns a new DataFrame with a column renamed |
| **`withColumn`** | Returns a new DataFrame by adding a column or replacing the existing column that has the same name |
| **`filter`**, **`where`** | Filters rows using the given condition |
| **`sort`**, **`orderBy`** | Returns a new DataFrame sorted by the given expressions |
| **`dropDuplicates`**, **`distinct`** | Returns a new DataFrame with duplicate rows removed |
| **`limit`** | Returns a new DataFrame by taking the first n rows |
| **`groupBy`** | Groups the DataFrame using the specified columns, so we can run aggregation on them |

### Subconjunto de columnas

In [ ]:
df.select('longitude', 'latitude').show()

In [ ]:
from pyspark.sql.functions import col

df_rooms = df.select(
    col('total_rooms').alias('rooms'),
    col('total_bedrooms').alias('bedrooms')
)

df_rooms.show()

+-----------+-----------+
|      rooms|   bedrooms|
+-----------+-----------+
|3885.000000| 661.000000|
|1510.000000| 310.000000|
|3589.000000| 507.000000|
|  67.000000|  15.000000|
|1241.000000| 244.000000|
|1018.000000| 213.000000|
|1009.000000| 225.000000|
|2310.000000| 471.000000|
|3080.000000| 617.000000|
|2402.000000| 632.000000|
| 972.000000| 249.000000|
| 736.000000| 166.000000|
|1089.000000| 182.000000|
|3936.000000| 694.000000|
|2097.000000| 325.000000|
| 161.000000|  40.000000|
| 570.000000| 123.000000|
|3077.000000| 607.000000|
|1590.000000| 196.000000|
|8814.000000|1307.000000|
+-----------+-----------+
only showing top 20 rows

In [ ]:
df_households = df.selectExpr('longitude', 'latitude', "total_rooms == 67 as rooms_67")

In [ ]:
df_households.filter('rooms_67 == true').show()

+-----------+---------+--------+
|  longitude| latitude|rooms_67|
+-----------+---------+--------+
|-118.360000|33.820000|    true|
+-----------+---------+--------+

#### drop()
Devuelve un nuevo DataFrame después de eliminar la columna proporcionada, especificada como una cadena o un objeto Column

In [ ]:
no_longitude_df = df.drop(col('longitude'))

In [ ]:
no_longitude_df.show()

+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|
|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|
|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|
|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|
|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|
|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|
|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|
|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|
|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|
|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|
|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|
|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|
|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|
|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|
|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|
|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|
|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|
|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|
|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|
|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|
+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

#### Añadir o reemplazar columnas

##### withColumn()

In [ ]:
df_latitude_rounded = df.withColumn('latitude_rounded', col('latitude').cast('int'))

In [ ]:
df_latitude_rounded.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+----------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|latitude_rounded|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+----------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|              37|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|              34|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|              33|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|              33|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|              36|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|              36|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|              38|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|              35|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|              38|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|              34|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|              33|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|              35|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|              37|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|              32|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|              33|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|              33|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|              37|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|              38|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|              34|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|              38|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+----------------+
only showing top 20 rows

In [ ]:
df_latitude_rounded.printSchema()

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)
 |-- latitude_rounded: integer (nullable = true)

#### Subconjunto de filas

Filtra las filas basándose en una condición a nivel de columna.

Alias: where

In [ ]:
df_latitude_rounded.filter('latitude_rounded > 37').show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+----------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|latitude_rounded|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+----------------+
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|              38|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|              38|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|              38|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|              38|
|-121.370000|38.680000|         36.000000|1775.000000|    296.000000| 937.000000| 305.000000|     3.178600|      83400.000000|              38|
|-121.130000|39.310000|         17.000000|3442.000000|    705.000000|1693.000000| 619.000000|     2.810200|     128900.000000|              39|
|-121.350000|38.000000|          6.000000|1649.000000|    369.000000| 732.000000| 350.000000|     3.423100|     123800.000000|              38|
|-121.420000|38.720000|         10.000000|3054.000000|    528.000000|1932.000000| 510.000000|     3.090300|      91900.000000|              38|
|-121.670000|40.870000|         31.000000|1581.000000|    299.000000| 776.000000| 287.000000|     2.906300|      77800.000000|              40|
|-123.790000|39.500000|         24.000000|1421.000000|    291.000000| 588.000000| 274.000000|     2.325000|     157300.000000|              39|
|-122.050000|38.260000|         21.000000|7195.000000|   1416.000000|3927.000000|1377.000000|     3.091200|     126300.000000|              38|
|-123.520000|41.010000|         17.000000|1564.000000|    345.000000| 517.000000| 222.000000|     2.154200|      83800.000000|              41|
|-120.970000|38.420000|         16.000000|1748.000000|    322.000000|4930.000000| 287.000000|     4.302900|     121900.000000|              38|
|-121.190000|38.870000|         20.000000|3118.000000|    500.000000|1405.000000| 519.000000|     6.000000|     209400.000000|              38|
|-121.310000|38.620000|         31.000000|3114.000000|    430.000000|1121.000000| 456.000000|     6.244000|     240000.000000|              38|
|-121.510000|38.520000|         30.000000|3236.000000|    588.000000|1167.000000| 569.000000|     4.097200|     181400.000000|              38|
|-124.160000|40.770000|         35.000000|2141.000000|    438.000000|1053.000000| 434.000000|     2.852900|      85600.000000|              40|
|-121.740000|38.550000|         34.000000|2299.000000|    579.000000|1300.000000| 536.000000|     1.643500|     148500.000000|              38|
|-122.450000|40.460000|         16.000000|2734.000000|    501.000000|1413.000000| 484.000000|     2.808500|     105700.000000|              40|
|-121.470000|39.490000|         17.000000|1554.000000|    242.000000| 553.000000| 230.000000|     3.217400|      91800.000000|              39|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+----------------+
only showing top 20 rows

In [ ]:
df_latitude_rounded.filter(col('total_rooms').isNotNull()).show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+----------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|latitude_rounded|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+----------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|              37|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|              34|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|              33|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|              33|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|              36|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|              36|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|              38|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|              35|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|              38|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|              34|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|              33|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|              35|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|              37|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|              32|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|              33|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|              33|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|              37|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|              38|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|              34|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|              38|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+----------------+
only showing top 20 rows

#### dropDuplicates()

Devuelve un nuevo DataFrame con las filas duplicadas eliminadas.

Alias: distinct

In [ ]:
df_latitude_rounded.select('latitude_rounded').distinct().show()

+----------------+
|latitude_rounded|
+----------------+
|              34|
|              40|
|              41|
|              37|
|              35|
|              39|
|              38|
|              32|
|              33|
|              36|
+----------------+

#### limit()

Devuelve un DataFrame solo con las primeras n filas.

In [ ]:
limit_df = df_latitude_rounded.limit(3).show()

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+----------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|latitude_rounded|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+----------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|              37|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|              34|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|              33|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+----------------+

#### sort()

Alias: orderBy

In [ ]:
df_latitude_rounded.select('latitude_rounded').distinct().sort('latitude_rounded').show()

+----------------+
|latitude_rounded|
+----------------+
|              32|
|              33|
|              34|
|              35|
|              36|
|              37|
|              38|
|              39|
|              40|
|              41|
+----------------+

In [ ]:
df_latitude_rounded.select('latitude_rounded').distinct().sort(col('latitude_rounded').desc()).show()

+----------------+
|latitude_rounded|
+----------------+
|              41|
|              40|
|              39|
|              38|
|              37|
|              36|
|              35|
|              34|
|              33|
|              32|
+----------------+